body {
  background-color: maroon;
}

h1 {
  color: white;
  text-align: center;
}

p {
  color: white;
  text-align: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}